<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Home Page</title>{% endblock title %}

</head>
<body>

    <header>
        <h1>My Django Website</h1>

        

        <hr>
    </header>

    <main>
       {%block main%} <h2>Welcome to Django</h2>
       <nav>
            <a href="/">Home</a>
            <a href="/course/dj">Django</a>
            <a href="/course/py">Python</a>
        </nav>
        <hr>
        <a href="{%url 'home' %}">Home</a>
        <a href="{% url 'py' %}">Python</a>
        <a href="{% url 'dj' %}">Django</a>
        <p>This is a normal HTML page without template inheritance.</p>{%endblock%}

        
    </main>

    {%block footer%}<footer>
        <hr>
        <p>© 2026 My Website</p>
    </footer>
    {%endblock%}
</body>
</html>